#main{
    padding: 24px;
}

#logout{
    text-align: right;
    font-weight: bolder;
    cursor: pointer;
}

#event-list{
    margin-top: 58px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#add-new{
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

#add-new:hover{
    cursor: pointer;
}

@media (min-width: 992px) { 
    #event-list{
        margin-left: 102px;
        margin-right: 102px;
    }
 }